@model List<Menu>

    @foreach (var menu in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h3 class="card-title">@menu.DishName</h3>
            <h5 class="card-text">@menu.Description</h5>
            <h5 class="card-price">@menu.DishPrice</h5>
        </div>
    </div>
}

